body { 
    padding-top: 60px;
    padding-bottom: 40px;
}

input[disabled],select[disabled],textarea[disabled],input[readonly],select[readonly],textarea[readonly]{background-color:#eeeeee;border-color:#ddd;cursor:text;}

#qr {
    width: 185px;
    height: 185px;
    display: inline-block;
}

#qr_addr {
    position: relative;
    z-index: 1;
}
