* {
  -webkit-box-sizing: border-box;
}

body {
  font-family: "Helvetica Neue", Helvetica, Arial, "Open Sans", sans-serif;
  font-size: 13px;
  overflow: hidden;
  margin:0px;
  padding:0px;
  text
}

a {
  text-decoration: none;
  -webkit-user-drag: none;
}

img {
  -webkit-user-drag: none;
}

#window-container {
  -webkit-box-align: stretch;
  -webkit-box-orient: horizontal;
  display: -webkit-box;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  -webkit-user-select: none;
}

#sidebar {
  background-color: #333;
  -webkit-box-orient: horizontal;
  -webkit-box-pack: start;
  color: #EBEBEB;
  display: -webkit-box;
  overflow: hidden;
  -webkit-transition: width 0.2s ease-in-out;
  width: 0px;
}

#sidebar > div {
  
}



body.sidebar-open #sidebar {
  width: 220px;
}

#sidebar h1 {
  -webkit-app-region: drag;
  cursor: default;
  font-size: 21px;
  font-weight: normal;
  padding: 6px 24px 7px;
  -webkit-user-select: none;
}

#sidebar hr {
  height: 1px;
  border: none;
  background-color: rgba(0,0,0,0.16);
}

#sidebar ul {
  padding: 0;
  font-size: 140%;
  list-style-type: none;
}

#sidebar li {
  margin: 0px;
  padding: 10px 0px 10px 24px;
  -webkit-user-select: none;
  white-space: nowrap;
  width:230px;
}

#sidebar li:hover {
  background-color: #3A3A3A;
  color: #FFF;
}

#sidebar ::-webkit-scrollbar {
  width: 12px;
}
 
#sidebar ::-webkit-scrollbar-thumb {
  border-radius: 2px;
  background-color: #888;
}

#file-menu {
  margin: 0px;
  margin-left: 0px;
  width:100%;
}

#sidebar {
  display: -webkit-box;
  width: 280px;
  height:100%;
  margin:0px;
  position:fixed;
  left:0px;
  top:0px;
  bottom:0px;
}


.tab-content{
  width:100%;
  background-color: #333;
  color: #EBEBEB;
  height:100%;
  margin:0px;
  position:fixed;
  left:230px;
  padding-left:36px;
  top:0px;
  bottom:0px;
  -webkit-box-shadow: inset -6px 0 32px rgba(0,0,0,0.5);
}


.tab-content legend{
  color:#ffffff;
}
.tab-content form{
  width:100%;
}
#file-menu li.active, #file-menu li:hover{
  color:#3465a4;
}
#file-menu li{
  cursor: pointer;
}

#download{
  display:none;
}